{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Update a book from its id {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="id">Please enter the ID of the book</label>
            <input type="number" name="id"
                   placeholder="id">
            </input>
            <br />
        </p>

        <p>
            <label for="id">New Values:</label>
            <p>
                <label for="title">Title</label>
                <input type="text" name="title"
                       placeholder="Book title">
                </input>
            </p>
    
            <p>
                <label for="author">Author</label>
                <input type="text" name="author"
                       placeholder="Book author">
                </input>
            </p>
    
            <p>
                <label for="pages_num">Number of pages</label>
                <input type="number" name="pages_num"
                       placeholder="Number of pages">
                </input>
            </p>

            <p>
            <label for="review">Review</label>
            <br>
            <textarea name="review"
                      placeholder="Review"
                      rows="15"
                      cols="60"
                      ></textarea>
            </p>
        </p>
     
        <p>
            <button type="submit">Update</button>
        </p>
    </form>
{% endblock %}